{% extends "base.html" %}
{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div style="max-width: 400px; margin: auto; padding: 20px; text-align: center;">
    <p>An email has been sent to reset your password. Please check your inbox.</p>
    <p>If you don't receive an email, please make sure you've entered the 
        email address you registered with and check your spam folder.
    </p>
    <a href="{% url 'logs_app:accounts/login_client' %}" style="color: #007bff;">Return to Login</a>
</div>
{% endblock %}
